@model IEnumerable<Remake.Models.Kesifler>
@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Kişiyi silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteExpolore","Explorers",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-dark me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="rowAdi"> //değişecek

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-red me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <h2 class="card-title text-center">Aktif Keşifler</h2>
  
@using (Html.BeginForm("AddExplore","Explorers",FormMethod.Post))
{
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Keşif Ekle</h4>
                     <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ExploreId">
                     <h1 id="changeText"></h1>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Keşif Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="ExpName"  required placeholder="Keşif Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-primary me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    
    <div class="col-lg-12 stretch-card">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
                      <tbody>
                         @foreach(var item in Model)
                             {

                        <tr class="table-primary" data-toggle="modal" data-target="#orderModal" cursor="pointer">
                            <td><a style="width:100%;height:100%" class="col-lg-9 col-sm-6 btn" value="@item.Id" onclick="location.href='@Url.Action("MekanIndex","Explorers",new {RowId = @item.Id})'"> @item.Ad</a></td>
                            <td><a type="submit"  data-bs-toggle="modal" data-bs-target="#myModalOK" class="btn btn-gradient-dark btn-sm col-lg-3 col-sm-6">Sil</a></td>
                        </tr>
                        }
                         <input value="" id="putValue" type="text" style="visibility:hidden" name="MekanAdi">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <input value="" id="deneme" type="text"/>
<button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-dark " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">+</button>

   <script type="text/javascript">
            
        var table = document.getElementById("table"),indexy

    for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() 
        {
            indexy = this.rowIndex;
            document.getElementById("RowsValue").value =this.cells[0].textContent;
        };
}

   </script>
              
  