@model IEnumerable<Remake.Models.Mekantürleri>
@using Remake.Models;
@{
    ViewData["Title"] = "MekanIndex";
    Layout = "~/Views/Shared/layout.cshtml";

}
@using (Html.BeginForm("AddProductToMekan","Explorers",FormMethod.Post))
{
    <div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Ürünü Ekle</h4>
                     <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ExploreId">
                     <h1 id="changeText"></h1>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Mekan Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="ExpName"  required placeholder="Mekan Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-dark me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

            <h3 class="card-title text-center " style="margin-top:-1rem;padding:1rem;">@ViewBag.KesifAdi</h3>

            <div class="form-group text-center">
                     <h3>Mekanlar</h3>
                      <select class="form-control form-control-sm" id="mekanAdi" name="MekanAdi">
                        <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in Model)
        {
                   <option class="text-center" style="font-size:1rem">@item.MekanAdi</option>                               // BURADA KALDIM. BURADAN CONTROLLERA MEKANADI GONDERILECEK
        }
                      </select>
      </div>


    
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <h1 class="card-title text-center mt-2"></h1>
      <div class="card-body">
        <table class="table">
          <tbody> 
            <tr>
              <td>Jacob</td>
              <td>53275531</td>
              <td>12 May 2017</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
                <button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-dark " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">+</button>


<script type="text/javascript">

    	$("#mekanAdi").change(function() {

		var selectedVal = $("#mekanAdi option:selected").val();
		alert(selectedVal);

	});
</script>