@model IEnumerable<Remake.Models.Kategoriler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}
    @using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Kategori Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Kategori Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="CatName"  required placeholder="Kategori Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-dark me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
     <h2 class="card-title text-center">KATEGORİLER</h2>
<div class="col-lg-12 stretch-card">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table class="table table-bordered text-center ">
                      
                      <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table-primary">
                <td class="col-9">@item.KategoriAdi</td>
                   <td><a type="submit" href="@Url.Action("DeleteCat","Category",new { RowId = @item.Id})" class="btn btn-gradient-dark btn-sm col-sm-3">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  <button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-dark " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">Kategori Ekle</button>