@model IEnumerable<Remake.Models.Urunler>
@using Remake.Models;
@using Remake.Controllers;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModalOK">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Emin Misiniz?</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                              <h1 class="card-title text-center mt-2">Ürünü silmek istediğinize emin misiniz?</h1>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteProduct","Product",FormMethod.Post))
{
                                     <button type="submit" class="btn btn-gradient-dark me-2">Sil</button>
                                                   <input value="" id="RowsValue" type="text" style="visibility:hidden" name="ProductName"> 

}
                            <button type="submit" data-bs-dismiss="modal"  class="btn btn-gradient-red me-2">İptal Et</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 @using (Html.BeginForm("AddNewProduct","Product",FormMethod.Post))
{
<div class="container mt-2"> @*mt kapatılabilir*@

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Yeni Ürün Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                        <label for="exampleInputName1" style="font-size:14px">Ürün Kodu</label>
                      <div class="form-group" style="display:flex">
                        <input type="text" class="form-control" id="UrunKoduId" name="UrunKodu"   required placeholder="Ürün Kodu">
                        <a type="button" onclick="GenerateCode()" class="btn btn-gradient-dark">Kod üret</a>
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Adı </label>
                        <input type="text" class="form-control" id="exampleInputName1" name="UrunAdi"  required placeholder="Ürün Adı">
                      </div>
                        <div class="form-group">
                        <label for="exampleInputName1">Ürün Markası</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="Marka"  required placeholder="Ürün Markası">
                      </div>
                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Kategori Seçiniz</label>
                      <select class="form-control form-control-lg" id="Selects">
                          <option>-</option>
                          @foreach(var item in (List<Kategoriler>)ViewBag.CategoryList)
                                        {
                                            <option value="@item.KategoriAdi">@item.KategoriAdi</option>       
                                        }
                                        <input value="" id="inputNameChange" type="text" style="visibility:hidden" name="Kategori">
                                           
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Fiyatı </label>
                        <input type="number" class="form-control" id="exampleInputName1" name="fiyat"  required placeholder="Ürün Fiyatı">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"> Satış Fiyatı</label>
                        <input type="number" class="form-control" id="exampleInputName1" name="satisFiyati"  required placeholder="Satış Fiyatı">
                      </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="UsersImg" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Resim Yükle ">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-dark" type="button">Yükle</button>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" onclick="writeName()" class="btn btn-gradient-dark me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
       }
<button type="button" style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;" class="btn btn-gradient-dark " style="margin-bottom:1rem;" data-bs-toggle="modal" data-bs-target="#myModal">Ürün Ekle</button>

                    <h2 class="card-title text-center">ÜRÜNLER</h2>
<div class="col-lg-12 stretch-card">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
                      <thead>
                        <tr>
            <th>Ürün Adı</th>
                        </tr>
                      </thead>
                      <tbody>
                         @foreach(var item in Model)
                             {
                    <tr class="table-primary">
                <td class="col-7">@item.UrunAdi</td>
                                            <td><a type="submit"  data-bs-toggle="modal" data-bs-target="#myModalOK" class="btn btn-gradient-dark btn-sm col-5">Sil</a></td>
                 
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
       function writeName() {
    var temp = document.getElementById("Selects").value
    document.getElementById("inputNameChange").setAttribute("value", temp)
       }

GenerateCode = function() {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < 10; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));

    }
    document.getElementById("UrunKoduId").setAttribute("value", result)
};
        
            
        var table = document.getElementById("table"),indexy

    for (var i = 0; i < table.rows.length;i++)
    {
        table.rows[i].onclick = function() 
        {
            indexy = this.rowIndex;
            document.getElementById("RowsValue").value =this.cells[0].textContent;
        };
}
 
   </script>
  
       .