
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}


 <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">Bilgiler</h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Keşif Sayısı</th>
                          <th>Ürün Sayısı</th>
                          <th>Kategori</th>
                          <th>Kullanıcı</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jacob</td>
                          <td>Photoshop</td>
                          <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                          <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
 </div>
