@model IEnumerable<Remake.Models.Mekantürleri>
@using Remake.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}
                     <h2 class="text-center" style="margin-top:-2rem;">Mekanlar</h2>
<div class="form-group text-center">
                      <select class="form-control form-control-sm" id="mekanAdi" name="MekanAdi">
                              <option class="text-center" style="font-size:1rem" >--</option> 
        @foreach(var item in Model)
        {
                   <option class="text-center" style="font-size:1rem">@item.MekanAdi</option> 
        }
                      </select>
                    </div>


                    @using (Html.BeginForm("AddNewMekan","Mekan",FormMethod.Post))
{
<div class="container mt-2"> @*mt kapatılabilir*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                     <h4 class="modal-title d-flex justify-content-center" style="margin-top:-1rem;">Yeni Mekan Ekle</h4>
                    <div class="modal-body">
                        <div class="col-12 grid-margin stretch-card">
                <div class="card " style="height:100%; margin-bottom:-3rem;">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Mekan Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="MekanAdi"  required placeholder="Mekan Adı">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-gradient-dark me-2">Onayla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




 <div class="col-md-12">
                <div class="table-responsive card">
                  <div class="card-body">
                    <table id="table" class="table table-bordered text-center ">
        <thead>
                        <tr>
            <th>Ürün Kodu</th>
            <th>Ürün Adı</th>
                        </tr>
                      </thead>
                      <tbody>

                        
                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>




            <button class="btn btn-gradient-info " style="border-radius:7rem; position: fixed; bottom: 20px;right: 20px;margin-right:3rem;"type="button" id="dropupCenterBtn" data-bs-toggle="modal" data-bs-target="#myModal" aria-expanded="false">
              +
            </button>

<script type="text/javascript">
 var table =document.getElementById("table");
    $("#mekanAdi").on("change", function(){
        var p = $('#mekanAdi').val();
        $.ajax({
            url: "@Url.Action("getProductForSelected","Mekan")",
            type: 'POST',
            data: {p : p},
            dataType: 'JSON',
            success: function(data) {
                 $('#table tbody').empty();
                console.log(data);
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {
                        markup = "<tr class='table' style='cursor:pointer;background-color:#e9e9f7'><td style='cursor:pointer'>"
                      + data[i].urunAdi + "</td><td style='cursor:pointer'>"
                      + data[i].urunKodu + "</td></tr>";
                        tableBody = $("#table tbody");
                        tableBody.append(markup);
                    }
                }
                else {
                       swal("Boş Mekan","Bu mekana henüz alan eklemediniz.","warning")
                }
            },
            error: function(err) {
                 swal("Hata Oluştu","Beklenmedik bir hata oluştu. Lütfen biraz bekleyip tekrar deneyiniz.","warning")
            }
        });
       });
     
</script>